<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webmail.css') }}">

<!-- Folders -->
<ul class="folders" data-bind="foreach: folders">
    <li data-bind="
        text: $data, 
        css: { selected: $data == $root.chosenFolderId() },
        click: $root.goToFolder
    "></li>
</ul>

<!-- Mails grid -->
<table class="mails" data-bind="with: chosenFolderData">
    <thead><tr><th>From</th><th>To</th><th>Subject</th><th>Date</th></tr></thead>
    <tbody data-bind="foreach: mails">
        <tr data-bind="click: $root.goToMail">
            <td data-bind="text: from"></td>
            <td data-bind="text: to"></td>
            <td data-bind="text: subject"></td>
            <td data-bind="text: date"></td>
        </tr>
    </tbody>
</table>

<!-- Chosen mail -->
<div class="viewMail" data-bind="with: chosenMailData">
    <div class="mailInfo">
        <h1 data-bind="text: subject"></h1>
        <p><label>From</label>: <span data-bind="text: from"></span></p>
        <p><label>To</label>: <span data-bind="text: to"></span></p>
        <p><label>Date</label>: <span data-bind="text: date"></span></p>
    </div>
    <p class="message" data-bind="html: body" />
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='sammy/sammy.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='knockout/knockout-latest.debug.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='webmail.js') }}"></script>
